body {
    background-image: url();
    background-color: #fff3e3;

}

.table2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table2 td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table2 tr:hover {
    background-color: #ddd;
}

.table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.h12 {
    text-align: center;
    text-decoration: underline;
}